<!DOCTYPE kpartgui>
<kpartgui name="KNReader" version="391">

<MenuBar>
  <Menu noMerge="1" name="file"><text>&amp;File</text>
    <Action name="save_message"/>
    <Action name="file_print"/>
    <Separator/>
    <Action name="file_close"/>
  </Menu>
  <Menu noMerge="1" name="edit"><text>&amp;Edit</text>
    <Action name="kmail_copy"/>
    <Action name="mark_all_text"/>
    <Action name="find_in_messages"/>
  </Menu>
  <Menu noMerge="1" name="view"><text>&amp;View</text>
    <Action name="view_headers"/>
    <Action name="view_attachments"/>
    <Separator/>
    <Action name="view_source"/>
    <Separator/>
    <Action name="toggle_fixedfont"/>
    <Action name="view_fancyFormating"/>
    <Action name="set_charset"/>
  </Menu>
  <Menu name="article"><text>&amp;Article</text>
    <Action name="article_postReply"/>
    <Action name="article_mailReply"/>
    <Action name="article_forward"/>
    <Separator/>
    <Action name="article_cancel"/>
    <Action name="article_supersede"/>
  </Menu>
</MenuBar>

<ToolBar noMerge="1" name="mainToolBar"><text>Main Toolbar</text>
  <Action name="save_message"/>
  <Action name="file_print"/>
  <Action name="kmail_copy"/>
  <Separator/>
  <Action name="article_postReply"/>
  <Action name="article_mailReply"/>
  <Action name="article_forward"/>
</ToolBar>

<Menu name="body_popup">
  <Action name="save_message"/>
  <Action name="file_print"/>
  <Separator/>
  <Action name="kmail_copy"/>
  <Action name="mark_all_text"/>
  <Separator/>
  <Action name="view_source"/>
  <Separator/>
  <Action name="toggle_fixedfont"/>
  <Action name="view_fancyFormating"/>
  <Action name="set_charset"/>
</Menu>

<Menu name="url_popup">
  <Action name="open_url"/>
  <Action name="copy_url"/>
</Menu>

<Menu name="mailto_popup">
  <Action name="add_addr_book"/>
  <Action name="openin_addr_book"/>
  <Action name="copy_url"/>
</Menu>

</kpartgui>
